
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# permite que aparezca lo de base.html.twig #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

{% endblock %}

{% block body %}

    <h1>Blog</h1>

{% endblock %}

{% block footer %}


{% endblock %}